/*公共样式--开始*/
*{margin: 0;padding: 0;box-sizing: border-box;}
html, body {
    height: 100%;
    width: 100%;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,li{
    list-style: none;
}
a {
    text-decoration: none;
    color: #232323;
}
body {
    font-family: "Microsoft YaHei";
    font-size:14px;
    color:#333;
}

img {
    border: none;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
input, textarea {
    outline: none;
    border: none;
}
textarea {
    resize: none;
    overflow: auto;
}
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}
.fl {
    float: left
}
.fr {
    float: right
}
.tl {
    text-align: left;
}
.tc {
    text-align: center
}
.tr {
    text-align: right;
}
.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/*公共样式--结束*/

p a {
    color: #2f6f9f;
}

.nt {
    color: #2f6f9f;
    padding-left: 10px;
}

.h-title {
    font-size: 3em;
}

.h-intro {
    text-indent: 2em;
}

.h-subtitle {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}

.h-highlight {
    margin-bottom: 16px;
    line-height: 1.5;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.pl-v {
    color: #2f6f9f;
}